{% load static compress %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>{% block title %}{% endblock %}</title>

      <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}img/hi.png" />
        
        {% comprass %}
          {% block css %} 
            <link href="{{ STATIC_PREFIX }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
          {% endblock %}
        {% endcomprass %}

      <script type="text/javascript">
       //<![CDATA[
       {% block js %} 
       {% endblock %}

       $(document).ready(function(){
        {% block jquery_init %}
        {% endblock %}
       })
       //]]>
      </script>

      {% block extra_head %}
      {% endblock %}
  </head>

  <body>
  {% block app %}
  {% endblock %}
  </body>
</html>
